.contact-section {
  min-height: 100vh;
  padding-left: 8px;
  padding-right: 8px;
  background-image: url("https://res.cloudinary.com/drdl4pdnx/image/upload/v1716564589/Portfolio-Website/bg-2_qqlsjk.png");
  background-repeat: no-repeat;
  background-size: cover;
}
