.project-section {
  min-height: 100vh;
  padding-left: 8px;
  padding-right: 8px;
}

.project-tab {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, absolute);
}

@media screen and (max-width: 768px) {
  .project-tab {
    gap: 1rem;
  }
}

.project-tab:hover,
.project-tab:active {
  background: #2196f3;
}

.project-tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  padding: 5px;
  border: 2px solid #0f172a;
  border-radius: 8px;
  position: absolute;
  top: -10px;
  left: -10px;
}
